body {
	box-sizing: border-box;
	background-color: black;
	font-family: arial;
	color: white;
}

h1 {
	color: grey;
	font-family: verdana;
	font-size: 35px;
}

.maindiv {
	background-color: white;
	color: black;
	width: 550px;
	padding: 20px;
	border-radius: 25px;
	margin: 0 auto;
}

.num {
	background-color: yellow;
}

.calculation {
	width: 80%;
	margin: 0 auto;
}

input,
select,
button {
	margin-bottom: 0.5rem;
}

label {
	display: inline-block;
	width: 120px;
}

footer {
	margin-top: 1rem;
}
